<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>El proceso de pago se realizco correctamente, queda pendiente confirmacion de pago</title>
</head>
<body>
     <h1>El pago quedo pendiente a confirmar</h1>
</body>
<script src="https://www.mercadopago.com/v2/security.js" view="pending"></script>
</html>