<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Pago Exitoso!</title>
</head>
<body>
     <h1>El pago fue procesado exitosamente !</h1>
     <p>Tipo de pago <%= payment_type %></p>
     <p>Preferencia externa <%= external_reference %></p>
     <p>Id de pago <%= collection_id %></p>
</body>
</html>